
.project-main{
    background-color: var(--section01-light);
    padding: 0em 1.2em;    

}

.project{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: center;
}

.project_first_section{
    /* background-color: var(--caribbean-green); */
    min-height: 250px;
    width: 100%;
    max-width: 400px;
    padding: 0em 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;   
}

.project_first_section_title{
    /* margin: 0.7em 0em 1em 0.4em; */
    margin: 0;
    color: var(--section01-normal);  
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    
    text-decoration: none;
    text-transform: uppercase;
}

.project_first_section_img{
    object-fit: cover;
    object-position: center; 
   /* filter: blur(1px);
    filter: brightness(70%);*/
    width: 100%;     
    max-width: 380px;
    height: 40vw;     
    
    max-height: 250px;
    align-self: center;
    border: var(--midnight-green) solid 2px;    
    margin-bottom: 1em;
}

.project_first_section__links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    margin-bottom: 1em;
}

.project_first_section_link{
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    margin:  0.6em 0.4em;
    padding: 0.7em 0.6em;
    width: 140px;
    border-radius: 5px;    
    display: flex;
    justify-content: space-between;
    background-color: var(--midnight-green);
    color: var(--gray-light);   
    border: solid grey 1px; 
    box-shadow: 6px 6px 10px -2px rgba(0,0,0,0.75);    
}

.project_first_section_back{
    position: fixed;    
    top: 3rem;
    left: 0em;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--gray-light);    
    background-color: var(--midnight-green);
    padding: 0.6em 0.8em;
    border-radius: 0px 0px 15px 0px;
    opacity: 0.8;   
    display: flex;
    width: 120px;
    justify-content: space-between;
    align-items: center;
}

.project_first_section_link:hover,
.project_first_section_back:hover{
    transform: scale(1.07);
}

.project_second_section{
    background-color: rgba(0,0,0,0);
    color: var(--midnight-green);
    min-height: 300px;    
    padding: 1em 0.5em 1em 1.2em;
    width: 100%;
    max-width: 400px;
}

.project_second_section_title{
    margin: 0.6em 0;
    color: var(--section01-normal);  
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 0.1em;    
    text-decoration: none;
}

.project_second_section_paragraph, .project_second_section_list{
    line-height: 1.7em;
    letter-spacing: 0.04em;
    margin-bottom: 1em;
}
.project_second_section_list{
    padding: 0.2em 0.5em 0em 1.2em;
}

.project_second_section_list_item{
    margin-bottom: 1em;
    line-height: 1.5em;
}

.project_second_section_link{
    color: var(--midnight-green);
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: underline;
    transition: color 0.3s ease-out;
}


.project_second_section_link:hover{
    color: var(--caribbean-green);
    transition: color 0.3s ease-out;
}

@media (min-width: 1000px){
    .project {
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
    }
    .project_first_section,
    .project_second_section{
        width: 50%;      
        max-width: 2000px;  
    }
    .project_first_section{
        padding: 2em 1em 1em 1em;
        
    }
    .project_second_section{
        padding: 1em;
    }
}
