.project{
    display: flex;
    flex-direction: column;    
}

.project_first_section{
    background-color: var(--caribbean-green);
    min-height: 300px;
    width: 100%;
    padding: 2em 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;   
}

.project_first_section_title{
    margin: 1.4em 0em 1em 0.4em;
    color: var(--midnight-green);    
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.project_first_section_img{
    object-fit: cover;
    object-position: center; 
   /* filter: blur(1px);
    filter: brightness(70%);*/
    width: 100%;     
    max-width: 380px;
    height: 40vw;     
    min-height: 250px;
    max-height: 250px;
    align-self: center;
    border: var(--midnight-green) solid 2px;    
    margin-bottom: 1em;
}

.project_first_section__links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    margin-bottom: 1em;
}

.project_first_section_link{
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    margin:  0.6em 0.4em;
    padding: 0.7em 0.6em;
    width: 140px;
    border-radius: 5px;    
    display: flex;
    justify-content: space-between;
    background-color: var(--midnight-green);
    color: var(--gray-light);   
    border: solid grey 1px; 
    box-shadow: 6px 6px 10px -2px rgba(0,0,0,0.75);    
}

.project_first_section_back{
    position: fixed;    
    top: 3rem;
    left: 0em;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--gray-light);    
    background-color: var(--midnight-green);
    padding: 0.6em 0.8em;
    border-radius: 0px 0px 15px 0px;
    opacity: 0.8;   
    display: flex;
    width: 120px;
    justify-content: space-between;
    align-items: center;
}

.project_first_section_link:hover,
.project_first_section_back:hover{
    transform: scale(1.07);
}

.project_second_section{
    background-color: var(--yellow-crayola);
    color: var(--midnight-green);
    min-height: 300px;    
    padding: 1em 0.5em 1em 1.2em;
    width: 100%;
}

.project_second_section_title{
    margin: 0.6em 0;
    font-weight: 700;
    text-decoration: none;
}

.project_second_section_paragraph, .project_second_section_list{
    line-height: 1.6em;
    letter-spacing: 0.03em;
    margin-bottom: 1em;
}
.project_second_section_list{
    padding: 0.2em 0.5em 0em 1.2em;
}

.project_second_section_link{
    color: var(--midnight-green);
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: underline;
    transition: color 0.3s ease-out;
}


.project_second_section_link:hover{
    color: var(--caribbean-green);
    transition: color 0.3s ease-out;
}

@media (min-width: 800px){
    .project {
        flex-direction: row;
        width: 80vw;
        margin: 0 auto;
    }
    .project_first_section,
    .project_second_section{
        width: 50%;        
    }
    .project_first_section{
        padding: 2em 1em 1em 1em;
    }
    .project_second_section{
        padding: 4em 1em 1.5em 2em;
    }
}



/*figure zoom
figure.zoom {
    background-position: 50% 50%;
    position: relative;
    width: 500px;
    overflow: hidden;
    cursor: zoom-in;
  }
  figure.zoom img:hover {
    opacity: 0;
  }
  figure.zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
  } */