.aboutme{
    background-color: var(--section01-light);
}

.aboutme-main__title{
    position: absolute;
    width: 100%;
    top: 4.5rem;
    text-align: center;    
}
.aboutme-main{
    display: flex;
    flex-direction: column;
    /* background-color: var(--midnight-green); */
    color: var(--gray-light);
    padding: 1rem;
    gap: 1.4rem;
    padding-top: 4rem;
}

.aboutme-main__column{
    padding: 0rem;
}

.aboutme-main__column__paragraph{
    line-height: 1.6rem;
    letter-spacing: 0.02rem;
    font-weight: 300;
}

.aboutme-main__link{
    font-size: 0.9em;
    color: var(--yellow-crayola);
    word-break: break-all;
    font-weight: 500;
}


@media (min-width: 1000px){
    .aboutme-main {
        flex-direction: row;
        justify-content: space-between;
    }
    .aboutme-main__column{
        width: 30%;
    }
}
