@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Montserrat:wght@300;400;600&display=swap');
/*
@import url('general.css');
@import url('btn-floating.css');
@import url('header_and_navbar.css');
@import url('section.css');
@import url('projects.css');
@import url('contactme.css');
@import url('footer.css');
@import url('aboutme.css');
@import url('myskills.css');
@import url('mylinks.css');


font-family: 'Courier Prime', monospace;
font-family: 'Montserrat', sans-serif;
*/  


/* General Styles starts*/
:root{
  /*Basic colors*/
  --midnight-green: hsl(195, 83%, 16%);
  --blue-NCS: hsl(195, 83%, 38%);    
  --caribbean-green: #06d6a0;
  --yellow-crayola: #ffd166;
  --paradise-pink: #ef476f; 
  /*Basic colors*/

  /*Basic colors*/
  --section01-normal: hsl(195, 83%, 16%);
  --section02-normal: hsl(195, 83%, 38%);    
  --section03-normal: hsl(164, 95%, 43%);
  --section04-normal: #ffd166;
  --section05-normal: #ef476f; 
  /*Basic colors*/

  /*light colors light to the 90% */
  --section01-light: hsl(193, 80%, 90%);
  --section02-light: hsl(195, 85%, 95%);
  --section03-light: hsl(164, 96%, 95%);
  --section04-light: hsl(42, 100%, 95%);
  --section05-light: hsl(346, 84%, 95%); 
  /*light colors light to the 90% */

  /*dark colors light to the 10% */
  --section01-dark: hsl(193, 80%, 10%);
  --section02-dark: hsl(195, 84%, 10%);
  --section02-darker: hsl(195, 84%, 2%);
  --section03-dark: hsl(164, 96%, 10%);
  --section04-dark: hsl(42, 100%, 10%);
  --section05-dark: hsl(346, 84%, 10%); 
  /*dark colors light to the 10% */


  --blue-NCS-transparent: rgba(17, 138, 178, 0.9);
  --gray-light: #eeeeee;
  --ff-titles: 
}
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100vw;    
}

body{        
    
  font-family: 'Courier Prime', monospace;     
  background-color: var(--section02-darker);
}

.icon{
  font-size: 1.4em;    
}

.icon-img-format{
  width: 50px;
  height: 50px;
}
.color-light{
  color: #fff!important;
}

.btn{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em;
  background-color: rgba(5, 37, 46, 0.1);    
  color: #000; 
  border: rgb(5, 37, 46) solid 2px; ;   
  border-radius: 5px;
  transition: background-color 0.25s ease-in-out;
  cursor: pointer;
}
.btn:hover{
  background-color: rgba(5, 37, 46, 0.4);
  color: var(--section01-light);
  transition: background-color 0.25s ease-in-out;
}

.breadcrumb {
  padding-left: 4rem;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5em;
  margin: 0em 0 1em 0em ;
  padding: 2em 0 0 0 ;    
}

.breadcrumb li{
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1em;    
}
.breadcrumb a {
  color: var(--section01-normal);
}
  
.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .25rem;
  content: "→";
}


/* General Styles ends*/

        /*header and navbar starts*/
        .header{
            height: 4rem;
            width: 100vw;
            position: sticky;    
            top: 0px;
            left: 0px;
            z-index: 5;
            box-shadow: 4px 4px 15px -2px rgba(0,0,0,0.75);
            background-color: var(--section01-normal);
            color: var(--section01-light);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.2em 1em;            
        }

        .header-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 3em;
            width: 100%;
        }

        .header__logo-container__title{
            font-family: 'Montserrat', sans-serif;
            font-size: 1.2em;    
            text-align: center;
            text-transform: uppercase;
            margin-left: 0.5em;
            width: 240px;
        }

        .header_navbar-mobile_social{
            width: 30px;
            
        }

        .header__logo-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
        }        

        .header__logo-container__icon{
            cursor: pointer;
            width: 30px;
        }

       
        
        .header__navbar{
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 0;
            left: -100%;
            padding-top: 1rem;
            background-color: var(--section01-normal);
            opacity: 0.8;
            width: 100vw;
            height: 100%;     
            transition: all 0.5s ease-in-out;       
            
        }

        #menu-toggle{
            display: none;            
        }
        #menu-toggle:checked ~ .header__navbar {
            left: 0;
            transition: all 0.5s ease-in-out;
        }
        #header__btn-menu-close{  
                  
            margin-left: 85vw;
        }
        
        .header__navbar-mobile__list{   
            display: flex;                        
            flex-direction: column; 
            justify-content: center;
            align-items: center;
            gap: 0.6rem;
            list-style: none; 
                        
            
        }
        .header__navbar-mobile__list__item{
            text-align: center;
            width: 100%;
            border-bottom: var(--section01-light) solid 2px;   
            padding-bottom: 1em;
        }

        .header__navbar-mobile__list__item:last-child{
            border: none;            
        }

        .header__navbar-mobile__link{
            text-decoration: none;
            font-size: 1.2em;
            display: block;    
            padding: 0em ;      
            font-family: 'Montserrat', sans-serif;;
            text-transform: uppercase;
            color: var(--section01-light);
        }

        
        @media (min-width: 768px){
            
            
            #header__btn-menu-menu{
                display: none;
            }
            .header__navbar{                          
               position: static;     
               transition: none;                   
               justify-content: center;                   
               padding-top: 0; 
            }   
            #header__btn-menu-close{
                display: none;                
            }       
            
            .header__navbar-mobile__list{
            width: 50%;                
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-right: 4em;
        }
        .header__navbar-mobile__list__item{
            border-bottom: none;
            padding: 0;
        }

        #social__links__navbar {
            display: none;
        }
            
        }
        /*header and navbar ends*/