

:root{
    --midnight-green: #073b4c;
    --blue-NCS: #118Ab2;
    --caribbean-green: #06d6a0;
    --yellow-crayola: #ffd166;
    --paradise-pink: #ef476f;    
    --gray-light: #eeeeee;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body{
    min-width: 360px;   
    font-family: 'Roboto', sans-serif; 
}

/******************************
Header
*****************************/
.header{
    height: 70px;
    background-color: var(--blue-NCS);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
    color: var(--gray-light);
    font-size: 0.7em;    
    font-weight: 300;
    letter-spacing: 0.2em;
    position: relative;
    
    
}
.header_btn_menu{
    font-size: 2.4em;
    margin-right: 0.6em;
    cursor: pointer;
}

.header_navbar{
    position: fixed;
    top: 0px;
    left: 0px;    
    z-index: 10;
    background-color: #073b4c;
    color: var(--gray-light);
    opacity: 0.9;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4em;
    translate: 100vw;
    opacity: 0;
    transition: all ease-in-out 0.5s;
}
.header_navbar_close{
    position: absolute;
    top: 0.33em;
    right: 0.8em;
    font-size: 4em;
    cursor: pointer;
}
.navbar_show{
    translate: 0vw;
    opacity: 0.9;
    transition: all ease-in-out 0.5s;
}

.navbar_fixed{
    position: fixed;
    top: 0px;
    z-index: 5;
    width: 100vw;
    opacity: 0.9;
    animation-name: up_down;
    animation-duration: 1s;
}

@keyframes up_down {
    0% {transform: translateY(-6em);
        opacity: 0}
    100% {transform: translateY(0px);
            opacity: 0.9;}
}


.header_navbar_lista{
    list-style-type: none;
}
.header_navbar_lista_item{
    border-bottom: var(--caribbean-green) solid 2px;
    margin-bottom: 1em;
}

.header_navbar_link{
    text-decoration: none;
    font-size: 2em;
    color: var(--gray-light);
}

/******************************
shared styles
*****************************/

.aboutme,
.myskills, 
.recentprojects,
.contactme{
    min-height: 200px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    padding-top: 2em;
    position: relative;
}

.aboutme_showmore,
.myskills_showmore,
.recentprojects_showmore{
    position: absolute;
    bottom: 0px;
    color: var(--gray-light);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 20%, rgba(0,0,0,0) 100%);
    align-self: center;    
    text-align: center;    
    width: 100%;
    height: 1.6em;
    font-size: 1.2em;    
    cursor: pointer;
    display: block
}
.aboutme_showmore_link,
.myskills_showmore_link,
.recentprojects_showmore_link{
    color: inherit;
    text-decoration: none;  
    margin: 0.5em;  
    
}

.aboutme_showmore_ghost,
.myskills_showmore_ghost,
.recentprojects_showmore_ghost{
    height: 2em;
}

/******************************
aboutme
*****************************/

.aboutme{
    background-color: var(--midnight-green);
    color: var(--gray-light);    
}
.aboutme_title{
    margin: 0.5em 1em;
    text-transform: uppercase;
}
.aboutme_textcontent{
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4em;
    word-break: break-all;
    margin: 0.6em 1em;
}
.aboutme_link{
    color: var(--caribbean-green);
    text-decoration: underline;
    font-weight: 700;
    letter-spacing: -0.05em;    
    text-transform: uppercase;
}

/******************************
MY SKILLS
*****************************/

.myskills{
    background-color: var(--yellow-crayola);
    color: var(--midnight-green);    
}
.myskills_title{
    margin: 0.5em 1em;
    text-transform: uppercase;
}
.myskills_skill_header{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0.5em 1em;
}

.myskills_skill_header_icon{
    background-color: rgba (0, 0, 0, 0);
    color: var(--paradise-pink);
    /*box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75);*/
    font-size: 1.6em;
    padding: 0.3em 0.5em;
    border-radius: 50%;
    border: solid var(--paradise-pink) 6px;
}

.myskills_skill_header_title{
    margin-left: 0.5em;
    color: var(--paradise-pink);    
    font-size: 1.6em;
}

.myskills_skill_textcontent{
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.4em;
    word-break: break-all;
    margin: 0.6em 1em;
}
.myskills_skill_link{
    color: var(--caribbean-green);
    text-decoration: underline;
    font-weight: 700;
    letter-spacing: -0.05em;    
    text-transform: uppercase;
}

/*******************************
RECENT PROJECTS SECTION
*************************/

.recentprojects{
    background-color: var(--caribbean-green);
    color: var(--midnight-green);    
}
.recentprojects_title{
    margin: 0.5em 1em;
    text-transform: uppercase;
}
.recentprojects_textcontent{
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.4em;
    word-break: break-all;
    margin: 0.6em 1em;
}
.recentprojects_textcontent_link{
    color: var(--paradise-pink);
    text-decoration: underline;
    font-weight: 700;
    letter-spacing: -0.05em;    
    text-transform: uppercase;
}

.recentprojects_project{    
    width: 85%;
    max-width: 400px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 2em;
    border: var(--midnight-green) 2px solid;
    box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75);
    position: relative;
    overflow: hidden;
}

.recentprojects_project_img{
    object-fit: cover;
    object-position: left;
    height: 100%;
    width: auto;    
}

.recentprojects_project_title{    
    background-color: var(--midnight-green);
    opacity: 0.8;
    color: var(--yellow-crayola);        
    padding:  0.4em;  
    width: 100%;
    text-transform: capitalize;
    letter-spacing: 0.2em;
    font-weight: 300;
    position: absolute;
    bottom: 0px;
}

.recentprojects_project_title_details{
    position: absolute;
    top: -2.2em;
    right: 0em;    
    background-color: inherit;
    opacity: inherit;
    padding: 0.5em;
    border-radius: 10px 0px 0px 0px;
    font-weight: 700;
    letter-spacing: -0.012em;
    text-decoration: underline;
}

/*************************
CONTACTME SECTION
***********************/

input, textarea {
    all: unset;
  }

.contactme{    
    background-color: var(--blue-NCS);
    color: var(--gray-light);    
}
.contactme_title{
    margin: 0.5em 1em;
    text-transform: uppercase;
}

.contactme_form_input{
    margin: 0.2em 1em;    
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
    font-size: 1.4em;
}

.contactme_form_input_label{
    margin-bottom: 0.2em;
}
.contactme_form_input_input{
    padding: 0.4em 0.6em;
    font-size: 0.8em;    
    color: var(--midnight-green);
    background-color: var(--gray-light);
}
.contactme_form_input_message{
    height: 200px;
    text-align: left;
    padding: 0.4em 0.6em;
    font-size: 0.8em;    
    color: var(--midnight-green);
    background-color: var(--gray-light);
}

.contactme_form_btn{
    padding: 0.4em 0.6em;
    font-size: 0.8em;
    background-color: var(--midnight-green);
    color: var(--gray-light);
}

.contactme_form_input_input:focus,
.contactme_form_input_message:focus{    
    color: var(--midnight-green);
    background-color: #fff;
}

/*************************
FOOTER SECTION
***********************/
.footer{
    min-height: 200px; 
    padding: 2em 0em;
    background-color: var(--midnight-green);
    color: var(--gray-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer_social{    
    display: flex;
    flex-direction: row;
}

.footer_social_link{
    color: var(--caribbean-green);
    font-size: 2em;
    margin: 0 0.5em;    
}

.footer_text{
    text-align: center;
}

.footer_text_link{
    color: var(--caribbean-green);
    font-size: 1.2em;
    text-decoration: none;
}

.aboutme_showmore{
    display: block
}

