

  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Montserrat:wght@300;400;600&display=swap');
  @import url('general.css');
  @import url('top_arrow.css');
  @import url('header_and_navbar.css');
  @import url('section.css');
  @import url('projects.css');
  @import url('contactme.css');
  @import url('footer.css');
  @import url('aboutme.css');
  @import url('myskills.css');

/*
font-family: 'Courier Prime', monospace;
font-family: 'Montserrat', sans-serif;
*/

/*Slider con las tecnologias*/
.myskills_showcase{
    background-color: var(--gray-light);
    padding: 0.4em 1em;
    margin: 0em 0 1.5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #06d6a0;
}


.myskills_showcase_image{
    width: 50px;   
    height: auto;
    color: #06d6a0;
}
.myskills_showcase_image:hover{
    
    /*border-bottom: solid 4px var(--midnight-green);    */
    transform: scale(1.05);
    
}

.container{    
    width: 100vw;    
    /* box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75); */
}

/*view for bigger viewports */
@media (min-width: 800px){
    .container{
        width: 80vw;
        min-width: 800px;
        margin: 0 auto;
        padding: 2em;        
        /* box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75); */
    }  

    .aboutme{
        flex-direction: row;
    }

    .aboutme__title__container{
        width: 80%;
    }

    .aboutme_title{
        width: 50%;
    }
    .aboutme__image__container{
        width: 100%;        
    }

    .aboutme__textcontent__more{
        width: 60%;
        padding:  4em  1.2em 0.8em 1.2em;
        align-self: flex-start;
        justify-content: left;
    }
}
