
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Montserrat:wght@300;400;600&display=swap');
/*
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
*/

body {
    font-family: 'Lora', serif;
}

h1, h2, h3, h5 {
    font-family: 'Montserrat', sans-serif;
}

.my_header, .my_navbar{
    background-color: #D4A373;
}

.my_navbar_link{
    font-family: 'Montserrat', sans-serif;    
    text-transform: uppercase;
    color: #FEFAE0;
    
}

/* .my_nav-icon{
  font-size: 1.8em;
  
} */

.my_body{
    background-color: #FEFAE0;
}
.my_section{
    padding-top: 3em;
}

.my_section_header{
    
    text-transform: uppercase;
}

.my_hr{
    margin: 0;
}

.my_section_title_container_img{
    max-height: 300px;
}


.my_section_title_container_paragraph{
    line-height: 187%;
    letter-spacing: 2px;
    font-weight: 400;
    text-indent: 0.2em;
}

.my_section_title_container_paragraph::first-letter {
    initial-letter: 2;
    margin-right: 0.4em;
  }

  .my_section_cards_container{
    
    background-size: cover;
    background-position: center;    
  }

  #card_container_cremas{
    background-image: url('./assets/imgs/frutilla_background.jpg');
  }

  #card_container_chocolates{
    background-image: url('./assets/imgs/chocolate_en_batea_background.jpg');
  }

  #card_container_postres{
    background-image: url('./assets/imgs/postres_en_bateas_background.jpg');
  }

  #card_container_frutales{
    background-image: url('./assets/imgs/heladobanana500.jpg');
  }

  .my_card{
    background-color: rgba(255,255,255,0.6);
    border:none;    
  }

.card-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
}

.logo_gluten{
    height: auto;
    width: 50px;     
    margin: 0; 
}


#carouselExampleCaptions .carousel-item img {  
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height:60vh;
  }
  
  #carouselExampleCaptions .carousel-item:before {
    content: "";
    background-image:
      linear-gradient(
        to bottom,
        transparent, rgba(0,0,0,0.5)
      );
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 60vh;
  }

  .my_footer {
    background-color: #754C24;
    color: #FEFAE0;
    padding: 1em;
  }

  .my_footer_logo{
    font-size: 4em;
  }

  

  @media (max-width: 576px) {

    

    

    #carouselExampleCaptions .carousel-item img,
    #carouselExampleCaptions .carousel-item img:before{
        height: 40vh;
    }
    
    
  }
.nav-social-icon::before{
        font-size: 0.8em;    
        margin: 0 1em;   
    }
  

   /* Estilo para el botón flotante */
   #scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: rgba(117, 77, 36, 0.7);
    border: none;
}



.fa-brands{
    font-size: 2em;
}
.brand-icon{
    color: #754C24;   
    font-size: 1.2em;
    padding: 0.5em;
}
.brand-text{
    font-family: 'Montserrat', sans-serif;    
    text-transform: uppercase;
    color: #754C24;
}